.info{
    margin-top: 30px;
}
.info h4{
    color: #9772b8;
}
.info p{
    margin-top: 20px;
}
.info ol li{
    font-style: italic;
}
ol{
    padding-left: 16px;
    margin-top: 15px;
}
.upload{
    margin-top: 20px;
    width: 500px;
    display: flex;
}
.upload button{
    margin-left: 20px;
    background-color: #4f3b60;
    color: #ffff;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
}
.results p {
    color: #27e55d;
    font-size: 18px;
    font-weight: 600;
}
.info img{
    position: absolute;
    top: 100px;
    right: 5%;
    width: 325px;
    border-radius: 15px;
}



@media (max-width:992px) {
    .info{
        padding: 0 30px;
    }
    .info img{display: none;}
}

@media (max-width:605px) {
    .upload{
        width: 100%;
        flex-wrap: wrap;
    }
    .upload button{
        width: 100%;
        margin: 10px 0;
    }
}
